
<p>
  Modificar la vista index.handlebars en el router de views ‘/products’, creada en la pre-entrega anterior, para visualizar todos los productos con su respectiva paginación. Además, cada producto mostrado puede resolverse de dos formas:
Llevar a una nueva vista con el producto seleccionado con su descripción completa, detalles de precio, categoría, etc. Además de un botón para agregar al carrito.
Sugerencia de la ruta: “/products/:pid”.
Contar con el botón de “agregar al carrito” directamente, sin necesidad de abrir una página adicional con los detalles del producto.

</p>

{{!-- LISTA DE PRODUCTOS DESDE BASE DE DATOS NO WEB SOCKET --}}

<h1>Productos</h1>
  <div class="product-container" id="productContainer">
    <!-- Productos generados dinámicamente se insertarán aquí -->
  </div>

{{!-- me traigo dos scripts que hacen referencia al uso de los sockets --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/css/index.css">



