<h1> Carrito</h1>

<div class="cart-container" id="cart-container">
    <!-- carrito generado dinámicamente se insertará aquí -->
</div>

{{!-- me traigo los scripts --}}

<script src="/js/carts.js"></script>
