

<header class="header">
    <h1 class="store-title">BikeMarketII</h1>
    <nav class="nav-links">
        <a href="api/sessions/viewregister">Registrarse</a>
        <a href="api/sessions/viewlogin">Ingresar</a>
    </nav>
</header>


{{!-- LISTA DE PRODUCTOS DESDE BASE DE DATOS NO WEB SOCKET --}}


  <div class="product-container" id="productContainer">
    <!-- Productos generados dinámicamente se insertarán aquí -->
  </div>

{{!-- me traigo dos scripts que hacen referencia al uso de los sockets --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/css/index.css">



