


{{!-- LISTA DE PRODUCTOS DESDE BASE DE DATOS NO WEB SOCKET --}}

<h1>Productos</h1>
  <div class="product-container" id="productContainer">
    <!-- Productos generados dinámicamente se insertarán aquí -->
  </div>

{{!-- me traigo dos scripts que hacen referencia al uso de los sockets --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/css/index.css">



