

<header class="header">
    <h1 class="store-title">BikeMarketII</h1>
    <nav class="nav-links">
        <a href="api/sessions/viewregister">Registrarse</a>
        <a href="api/sessions/viewlogin">Ingresar</a>
    </nav>
</header>
{{!-- LISTA DE PRODUCTOS DESDE BASE DE DATOS NO WEB SOCKET --}}

<h1>Productos</h1>

{{!-- <div  id="paginationContainer"></div> --}}


  <div class="product-container" id="paginationContainer" >
    <!-- Productos generados dinámicamente se insertarán aquí -->
  </div>

{{!-- me traigo los scripts --}}

<script src="/js/products.js"></script>
<link rel="stylesheet" href="/css/products.css">